h1{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    color: white;
    background: #4aaaa5;
    width: 300px;
    margin-left: 50px;
    float: left;
    height: 80px;
    padding-top: 5px;
    padding-left: 35px;                
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: white;
    border-bottom: 1px solid grey;
    height: 80px;      
}

header::after {     /* found this on youtube */
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;    
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none; 
}

nav li {
    display: inline-block;
    margin-left: 50px;
    margin-top: 35px;
}

.header {
    background-color: white;
    height:80px;    
}

body {
    color: black;
    width: 960px;
    background-image: url(../images/dust_scratches.png); 
}

.homepageLink {
    display: inline;
}

h2 {
    color:#4aaaa5;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;    
}

p {
    color: #777777;
    margin-left: 20px;
    margin-bottom: 300px; 
    margin-right: 20px; 
}

.footer {
    text-align: center;
    border-top: 5px solid #4aaaa5;
    background: grey;
    font-size: 25px;
    height: 60px;
    border: 55x #4aaaa5; 
}

.body {
    background: white;
    border: 1px solid #ccc;
    margin: 25px 90px 25px 145px;    
}

/* Portfolio Page*/




/* Contact Page*/

section {
    width: 100%; 
    padding: 12px;      
    box-sizing: border-box; 
    margin-top: 50px; 
    margin-bottom: 10px;     
}

.button {
    background-color:#4aaaa5;
    color: white;
    height: 40px;
    width: 80px;    
}

input {
    width: 100%;
}

.message {
    height: 250px;
}

