h1{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    color: white;
    background: #4aaaa5;
    width: 260px;
    margin-left: 50px;
    float: left;
    height: 80px;
    padding-top: 20px;
    padding-left: 15px; 
    height: 60px;
    margin-top: 0px;                   
}

.container {
    width: 80%;
    margin: 0 auto;
   
}

.body {
    background: white;
    border: 1px solid #ccc;
    margin: 25px 90px 25px 145px;    
}

.body:after {
    content: "";
    display:block;
}

.body:after, footer {
    height:100px;
}

header {
    background: white;
    border-bottom: 1px solid grey;
    height: 80px;      
}

header::after {     /* found this on youtube */
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;    
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none; 
}

nav li {
    display: inline-block;
    margin-left: 50px;
    margin-top: 30px;
}

nav li:hover {
    background-color: #4aaaa5    
}

.header {
    background-color: white;
    height:80px;    
}

body {
    color: black;
    width: 960px;
    background-image: url(../images/dust_scratches.png);
    height: 100%; 
}

h2 {
    color:#4aaaa5;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;    
}

p {
    color: #777777;
    margin-left: 20px;
    margin-bottom: 300px; 
    margin-right: 20px; 
}

footer {
    text-align: center;
    border-top: 5px solid #4aaaa5;
    background: grey;
    font-size: 15px;
    height: 60px;
    border: 55x #4aaaa5;
    padding-top: 30px;
}

.footer, .push {
    height: 50px;
}

/* Portfolio Page*/

.img1 { 
    position: relative;
    height: 200px;
    width: 450px;
    
}

.img2 {
    position: relative;
    height: 200px;
    width: 450px;
    float: right;
}

.img3 {
    position: relative;
    height: 200px;
    width: 450px;
    float: right;
}

.text1 {
    position: absolute;
    font-size: 15px;
    color: white;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 75px;
    left: 0px;
    width: 130px;
    text-align: center;

}


/* Contact Page*/

section {
    width: 100%; 
    padding: 12px;      
    box-sizing: border-box; 
    margin-top: 50px; 
    margin-bottom: 10px;     
}

.button {
    background-color:#4aaaa5;
    color: white;
    height: 40px;
    width: 80px;    
}

.button:hover {
    background-color: grey;    
}

input {
    width: 100%;
}

.message {
    height: 250px;
}

